Repository onfido/castor-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, svgo --config=.svgorc.yml

feat: fill with "currentColor" by default
  .svgrrc.json
  README.md
Due: prettier --write

feat: fill with "currentColor" by default (#70)
  .svgrrc.json
  README.md
Due: prettier --write

ci: deploy with single commit, don't keep history
  .github/workflows/deploy.yml
Due: prettier --write

ci: deploy with single commit, don't keep history (#71)
  .github/workflows/deploy.yml
Due: prettier --write

ci!: remove deploys to avoid any screw up
  .github/workflows/deploy.yml
  .github/workflows/preview.yml
  .github/workflows/publish.yml
Due: prettier --write

chore(release): 3.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

build: rename ".czrc.json" to supported ".czrc"
  .czrc
Due: none

build: rename ".czrc.json" to supported ".czrc" (#78)
  .czrc
Due: none

build: improve release process
  .github/workflows/preview.yml
  .github/workflows/publish.yml
  CONTRIBUTING.md
Due: prettier --write

fix: sentence
  CONTRIBUTING.md
Due: prettier --write

build: improve release process (#79)
  .github/workflows/preview.yml
  .github/workflows/publish.yml
  CONTRIBUTING.md
Due: prettier --write

chore: adjust config based on new version release requirements
  .github/workflows/deploy.yml
Due: prettier --write

build: require (and use) npm 7
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: prettier --write

build: require (and use) npm 7 (#85)
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: prettier --write

ci: rename release branches
  .github/workflows/deploy.yml
  .github/workflows/preview.yml
  .github/workflows/publish.yml
Due: prettier --write

chore: update contributing
  CONTRIBUTING.md
Due: prettier --write

ci: rename release branches (#88)
  .github/workflows/deploy.yml
  .github/workflows/preview.yml
  .github/workflows/publish.yml
  CONTRIBUTING.md
Due: prettier --write

build: fix husky v5 integration
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  .huskyrc.json
  package-lock.json
  package.json
Due: prettier --write

build: fix husky v5 integration (#92)
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  .huskyrc.json
  package-lock.json
  package.json
Due: prettier --write

build: use default .gitignore for husky
  .husky/.gitignore
Due: none

build: use default .gitignore for husky (#93)
  .husky/.gitignore
Due: none

feat: add flag
  src/icons.json
  src/svg/flag.svg
Due: prettier --write, svgo --config=.svgorc.yml

feat: add flag (#94)
  src/icons.json
  src/svg/flag.svg
Due: prettier --write, svgo --config=.svgorc.yml

docs: remove duplicate changelog entries
  CHANGELOG.md
Due: prettier --write

docs: remove duplicate changelog entries (#97)
  CHANGELOG.md
Due: prettier --write

chore: adjust config based on new version release requirements
  .eslintrc.json
  .lintstagedrc.json
  .svgorc.yml
  svgo.config.js
Due: prettier --write, eslint --fix

build: use default .gitignore for husky (#117)
  .husky/.gitignore
Due: none

Revert "chore(deps): bump JamesIves/github-pages-deploy-action (#130)"
  .github/workflows/deploy.yml
Due: prettier --write

revert(deps): bump JamesIves/github-pages-deploy-action (#130) (#139)
  .github/workflows/deploy.yml
Due: prettier --write

ci: use custom lint commands
  .github/workflows/lint.yml
Due: prettier --write

chore: use dependabot preview instead of github dependabot
  .dependabot/config.yml
  .github/dependabot.yml
Due: prettier --write

ci: use custom lint commands (#141)
  .github/workflows/lint.yml
Due: prettier --write

chore: use dependabot preview instead of github dependabot (#142)
  .dependabot/config.yml
  .github/dependabot.yml
Due: prettier --write

ci: commitlint exclude dependabot (preview)
  .github/workflows/lint.yml
Due: prettier --write

ci: commitlint exclude dependabot (preview) (#144)
  .github/workflows/lint.yml
Due: prettier --write

docs: clean heading for better index
  README.md
Due: prettier --write

docs: clean heading for better index (#165)
  README.md
Due: prettier --write

docs: add badge to indicate bundle size
  README.md
Due: prettier --write

docs: add badge to indicate bundle size (#166)
  README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}
  eslint --fix: any of: *.{j,t}s{,x}
  stylelint --fix: any of: *.{css,html}
  svgo --config=.svgorc.yml: any of: src/**/*.svg
