Repository onfido/castor-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, svgo --config=.svgorc.yml

ci: don't deploy main to gh pages (#213)
  .github/workflows/deploy.yml
Due: prettier --write

feat: add circle
  src/icons.json
Due: prettier --write

feat: add square
  src/icons.json
Due: prettier --write

feat: add circle (#225)
  src/icons.json
Due: prettier --write

feat: add square (#226)
  src/icons.json
Due: prettier --write

feat: add polygon
  src/icons.json
Due: prettier --write

feat: add polygon (#224)
  src/icons.json
Due: prettier --write

feat: rename shape-polygon to polygon
  src/icons.json
Due: prettier --write

feat: rename shape-polygon to polygon (#228)
  src/icons.json
Due: prettier --write

chore(release): 2.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 2.4.0 (#229)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

build: correctly bump version in package-lock.json file
  .versionrc.json
  package-lock.json
  scripts/bump-package-lock.cjs
Due: prettier --write

build: correctly bump version in package-lock.json file (#230)
  .versionrc.json
  package-lock.json
  scripts/bump-package-lock.cjs
Due: prettier --write

build: lint ts
  .github/workflows/lint.yml
  package.json
  tsconfig.generated.json
  tsconfig.json
Due: prettier --write

build: lint ts (#242)
  .github/workflows/lint.yml
  package.json
  tsconfig.generated.json
  tsconfig.json
Due: prettier --write

build: automatically sort imports
  package-lock.json
  package.json
  scripts/build.ts
Due: prettier --write, eslint --fix

build: automatically sort imports (#243)
  package-lock.json
  package.json
  scripts/build.ts
Due: prettier --write, eslint --fix

ci: setup node version based on .nvmrc file
  .github/workflows/lint.yml
  .github/workflows/publish.yml
Due: prettier --write

ci: setup node version based on .nvmrc file (#245)
  .github/workflows/lint.yml
  .github/workflows/publish.yml
Due: prettier --write

ci: cache npm
  .github/workflows/lint.yml
  .github/workflows/publish.yml
Due: prettier --write

ci: cache npm (#253)
  .github/workflows/lint.yml
  .github/workflows/publish.yml
Due: prettier --write

chore: don't run commitizen when commiting with message
  .husky/prepare-commit-msg
Due: none

chore: don't run commitizen when commiting with message (#263)
  .husky/prepare-commit-msg
Due: none

chore: remove husky git ignore config
  .husky/.gitignore
Due: none

chore: run commitizen via npx
  .husky/prepare-commit-msg
Due: none

chore: run commitizen via npx (#285)
  .husky/prepare-commit-msg
Due: none

build: rename ts index extension from *.tsx to *.ts
  scripts/build.ts
  tsconfig.generated.json
Due: prettier --write, eslint --fix

build: rename ts index extension from *.tsx to *.ts (#288)
  scripts/build.ts
  tsconfig.generated.json
Due: prettier --write, eslint --fix

feat: add exclamation
  src/icons.json
  src/svg/exclamation.svg
Due: prettier --write, svgo --config=.svgorc.yml

feat: add exclamation (#298)
  src/icons.json
  src/svg/exclamation.svg
Due: prettier --write, svgo --config=.svgorc.yml

chore(release): 2.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 2.5.0 (#299)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: add move
  src/icons.json
Due: prettier --write

feat: add move (#368)
  src/icons.json
Due: prettier --write

feat: add crosshair
  src/icons.json
Due: prettier --write

feat: add crosshair (#375)
  src/icons.json
Due: prettier --write

style: prettier on svgo.config
  svgo.config.js
Due: prettier --write, eslint --fix

chore(release): 2.6.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 2.6.0 (#377)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

style: prettier on svgo.config (#376)
  svgo.config.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}
  eslint --fix: any of: *.{j,t}s{,x}
  stylelint --fix: any of: *.{css,html}
  svgo --config=.svgorc.yml: any of: src/**/*.svg
