Repository onfido/castor-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, svgo --config=.svgorc.yml

chore(release): 2.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 2.1.0 (#168)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: add vscode config
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

chore: add vscode config (#179)
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

feat: add dots-vertical-rounded
  src/icons.json
Due: prettier --write

feat: add dots-vertical-rounded (#181)
  src/icons.json
Due: prettier --write

feat: add sort-up and sort-down
  src/icons.json
  src/svg/sort-down.svg
  src/svg/sort-up.svg
Due: prettier --write, svgo --config=.svgorc.yml

feat: add sort-up and sort-down (#182)
  src/icons.json
  src/svg/sort-down.svg
  src/svg/sort-up.svg
Due: prettier --write, svgo --config=.svgorc.yml

feat: add stopwatch
  src/icons.json
Due: prettier --write

feat: add folder
  src/icons.json
Due: prettier --write

feat: add stopwatch (#184)
  src/icons.json
Due: prettier --write

feat: add bolt
  src/icons.json
  src/svg/bolt.svg
Due: prettier --write, svgo --config=.svgorc.yml

feat: add skip-to-start
  src/icons.json
  src/svg/skip-to-start.svg
Due: prettier --write, svgo --config=.svgorc.yml

feat: add folder (#185)
  src/icons.json
Due: prettier --write

feat: add bolt (#186)
  src/icons.json
  src/svg/bolt.svg
Due: prettier --write, svgo --config=.svgorc.yml

feat: add skip-to-start (#187)
  src/icons.json
  src/svg/skip-to-start.svg
Due: prettier --write, svgo --config=.svgorc.yml

feat: add skip-next and skip-previous
  src/icons.json
  src/svg/skip-next.svg
  src/svg/skip-previous.svg
Due: prettier --write, svgo --config=.svgorc.yml

feat: add skip-next and skip-previous (#188)
  src/icons.json
  src/svg/skip-next.svg
  src/svg/skip-previous.svg
Due: prettier --write, svgo --config=.svgorc.yml

chore(release): 2.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 2.2.0 (#189)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: add minus-circle
  src/icons.json
Due: prettier --write

feat: add minus-circle (#196)
  src/icons.json
Due: prettier --write

feat: add chevrons (up, down, left, right)
  src/icons.json
Due: prettier --write

feat: add chevrons (up, down, left, right) (#197)
  src/icons.json
Due: prettier --write

chore(release): 2.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 2.3.0 (#198)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: add vercel logo
  README.md
Due: prettier --write

fix: change logo location
  README.md
  templates/example.html
Due: prettier --write, stylelint --fix

Update templates/example.html
  templates/example.html
Due: prettier --write, stylelint --fix

docs: add vercel logo (#200)
  templates/example.html
Due: prettier --write, stylelint --fix

chore: upgrade to github-native dependabot
  .dependabot/config.yml
  .github/dependabot.yml
Due: prettier --write

docs: validate example
  templates/example.html
Due: prettier --write, stylelint --fix

docs: validate example (#201)
  templates/example.html
Due: prettier --write, stylelint --fix

docs: rename "support" to "sponsors"
  templates/example.html
Due: prettier --write, stylelint --fix

docs: rename "support" to "sponsors" (#206)
  templates/example.html
Due: prettier --write, stylelint --fix

ci(workflows): remove preview workflows
  .github/workflows/preview.yml
Due: prettier --write

ci(workflows): remove preview workflows (#210)
  .github/workflows/preview.yml
Due: prettier --write

ci: commitlint exclude dependabot
  .github/workflows/lint.yml
Due: prettier --write

ci: commitlint exclude dependabot (#212)
  .github/workflows/lint.yml
Due: prettier --write

ci: don't deploy main to gh pages
  .github/workflows/deploy.yml
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}
  eslint --fix: any of: *.{j,t}s{,x}
  stylelint --fix: any of: *.{css,html}
  svgo --config=.svgorc.yml: any of: src/**/*.svg
