Repository onfido/castor-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, svgo --config=.svgorc.yml

chore: bump @typescript-eslint from 4.33.0 to 5.1.0
  package-lock.json
  package.json
Due: prettier --write

chore: fix styling issues
  .stylelintrc.json
  package-lock.json
  package.json
  templates/example.html
Due: prettier --write, stylelint --fix

feat: add circle-three-quarter-solid
  src/icons.json
Due: prettier --write

feat: add circle-three-quarter-solid (#476)
  src/icons.json
Due: prettier --write

chore(release): 2.7.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 2.7.0 (#477)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: cleanup
  package-lock.json
  templates/example.html
  tsconfig.json
Due: prettier --write, stylelint --fix

chore: cleanup (#478)
  package-lock.json
  templates/example.html
  tsconfig.json
Due: prettier --write, stylelint --fix

feat: add upload
  src/icons.json
Due: prettier --write

feat: add upload (#510)
  src/icons.json
Due: prettier --write

chore(release): 2.8.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 2.8.0 (#519)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: build with react-jsx
  package.json
  scripts/build.ts
  tsconfig.json
Due: prettier --write, eslint --fix

build: re-enable svgo
  .svgrrc.json
Due: prettier --write

chore: cleanup output package.json
  package.json
  scripts/build.ts
Due: prettier --write, eslint --fix

chore(release): 2.8.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 2.8.1 (#530)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: bump @svgr/cli from 6.2.0 to 6.2.1
  package-lock.json
  scripts/build.ts
Due: prettier --write, eslint --fix

fix: jsx factory types
  scripts/build.ts
Due: prettier --write, eslint --fix

fix: jsx factory types (#565)
  scripts/build.ts
Due: prettier --write, eslint --fix

chore(release): 2.8.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 2.8.2 (#568)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: add video
  src/icons.json
Due: prettier --write

feat: add video (#589)
  src/icons.json
Due: prettier --write

chore(release): 2.9.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 2.9.0 (#590)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: bump node required to lts v16.14
  .nvmrc
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: prettier --write

chore: bump node required to lts v16.14 (#423)
  .nvmrc
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: prettier --write

feat: add calendar
  src/icons.json
Due: prettier --write

feat: add calendar (#697)
  src/icons.json
Due: prettier --write

chore(release): 2.10.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 2.10.0 (#700)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: add file-pdf icon
  src/icons.json
Due: prettier --write

feat: add file-pdf icon (#715)
  src/icons.json
Due: prettier --write

chore(release): 2.11.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 2.11.0 (#718)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: add plus-circle
  src/icons.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}
  eslint --fix: any of: *.{j,t}s{,x}
  stylelint --fix: any of: *.{css,html}
  svgo --config=.svgorc.yml: any of: src/**/*.svg
