Repository onfido/castor-icons: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, svgo --config=.svgorc.yml

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,css,scss,html,md,mdx,json,yml}": "prettier --write",
  "*.{j,t}s{,x}": "eslint --fix",
  "*.{css,html}": "stylelint --fix",
  "src/**/*.svg": "svgo --config=.svgorc.yml"
}

chore(release): 2.20.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 2.20.0 (#1130)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: add dashboard and folder-plus icons
  src/icons.json
  src/svg/dashboard.svg
Due: prettier --write, svgo --config=.svgorc.yml

feat: add dashboard and folder-plus icons (#1131)
  src/icons.json
  src/svg/dashboard.svg
Due: prettier --write, svgo --config=.svgorc.yml

chore(release): 2.21.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 2.21.0 (#1137)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: Add icon info-circle-solid
  src/icons.json
  src/svg/info-circle-solid.svg
Due: prettier --write, svgo --config=.svgorc.yml

feat: add new icon info-circle-solid
  src/icons.json
  src/svg/info-circle-solid.svg
Due: prettier --write, svgo --config=.svgorc.yml

feat: add new icon info-circle-solid (#1159)
  src/icons.json
  src/svg/info-circle-solid.svg
Due: prettier --write, svgo --config=.svgorc.yml

chore(release): 2.22.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 2.22.0 (#1160)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: new icons
  src/icons.json
  src/svg/browser-lock.svg
  src/svg/browser-settings-chrome.svg
  src/svg/browser-settings-firefox.svg
  src/svg/browser-settings-windows.svg
  src/svg/os-apple.svg
  src/svg/os-windows.svg
Due: prettier --write, svgo --config=.svgorc.yml

chore(release): 2.23.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 2.23.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(studio-3110): add new code-block and send icons
  src/icons.json
  src/svg/code-block.svg
  src/svg/send.svg
Due: prettier --write, svgo --config=.svgorc.yml

feat(studio-3110): add new code-block and send icons (#1229)
  src/icons.json
  src/svg/code-block.svg
  src/svg/send.svg
Due: prettier --write, svgo --config=.svgorc.yml

chore(release): 2.23.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore(release): 2.23.2 (#1230)
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat(broken-video icon): add broken video to icon set
  src/icons.json
  src/svg/video-broken.svg
Due: prettier --write, svgo --config=.svgorc.yml

feat: video-broken icon
  src/icons.json
  src/svg/video-broken.svg
Due: prettier --write, svgo --config=.svgorc.yml

chore(release): 2.24.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade cache to v4
  .github/workflows/lint.yml
  .github/workflows/publish.yml
Due: prettier --write

fix: icon path
  src/icons.json
Due: prettier --write

fix: attempt to deploy to npm
  package.json
  scripts/build.ts
Due: prettier --write, eslint --fix

feat: update npm publish ci job
  .github/workflows/publish.yml
Due: prettier --write

feat: add new icons
  src/icons.json
  src/svg/arrow-up.svg
  src/svg/bar-chart.svg
  src/svg/check-circle.svg
  src/svg/check-shield.svg
  src/svg/desktop.svg
  src/svg/door-open.svg
  src/svg/double-check.svg
  src/svg/drag-indicator.svg
  src/svg/expand.svg
  src/svg/export.svg
  src/svg/flutter.svg
  src/svg/help-circle.svg
  src/svg/hourglass.svg
  src/svg/import.svg
  src/svg/layers.svg
  src/svg/layout.svg
  src/svg/logout.svg
  src/svg/magic-wand.svg
  src/svg/mask.svg
  src/svg/medical-flask.svg
  src/svg/mobile.svg
  src/svg/numbered-list.svg
  src/svg/oauth.svg
  src/svg/package.svg
  src/svg/palette.svg
  src/svg/qr.svg
  src/svg/react.svg
  src/svg/redo.svg
  src/svg/sidebar.svg
  src/svg/smart-capture.svg
  src/svg/sun.svg
  src/svg/tag.svg
  src/svg/transfer.svg
  src/svg/undo.svg
  src/svg/user-minus.svg
  src/svg/user-x.svg
Due: prettier --write, svgo --config=.svgorc.yml

feat: add new icons (#1234)
  src/icons.json
  src/svg/arrow-up.svg
  src/svg/bar-chart.svg
  src/svg/check-circle.svg
  src/svg/check-shield.svg
  src/svg/desktop.svg
  src/svg/door-open.svg
  src/svg/double-check.svg
  src/svg/drag-indicator.svg
  src/svg/expand.svg
  src/svg/export.svg
  src/svg/flutter.svg
  src/svg/help-circle.svg
  src/svg/hourglass.svg
  src/svg/import.svg
  src/svg/layers.svg
  src/svg/layout.svg
  src/svg/logout.svg
  src/svg/magic-wand.svg
  src/svg/mask.svg
  src/svg/medical-flask.svg
  src/svg/mobile.svg
  src/svg/numbered-list.svg
  src/svg/oauth.svg
  src/svg/package.svg
  src/svg/palette.svg
  src/svg/qr.svg
  src/svg/react.svg
  src/svg/redo.svg
  src/svg/sidebar.svg
  src/svg/smart-capture.svg
  src/svg/sun.svg
  src/svg/tag.svg
  src/svg/transfer.svg
  src/svg/undo.svg
  src/svg/user-minus.svg
  src/svg/user-x.svg
Due: prettier --write, svgo --config=.svgorc.yml

feat(adding new icons): add browser specific icons and missing linux icon
  src/icons.json
  src/svg/browser-chrome.svg
  src/svg/browser-edge.svg
  src/svg/browser-firefox.svg
  src/svg/browser-safari.svg
  src/svg/browser.svg
  src/svg/os-linux.svg
  src/svg/tablet.svg
Due: prettier --write, svgo --config=.svgorc.yml

chore(release): 2.25.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write
